.DS_Store
.dart_tool/
.idea/

*.iml
*.log
*.pyc
*.swp

.buildlog/
.history
.vscode/
*.code**

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
android/local.properties
android/app/src/main/java/io/flutter/plugins/Generated*

packages
pubspec.lock

.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
doc/
build/
example/ios/Flutter/App.framework/flutter_assets/kernel_blob.bin
