{
  "arrowParens": "always",
  "endOfLine": "auto",
  "printWidth": 100,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
